.carousel-container {
    width: 50%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    transition: transform 1s ease-in-out; /* Agregado para una transición suave al cambiar las imágenes */
    background-color: white;
}
  
  .carousel-slide {
    width: 100%;
    padding: 5% 5% 5% 20%;
    flex: 0 0 auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Agregado para una transición suave de la opacidad */
    background-color: white;

}
  
  .carousel-slide img {
    background-color: white;

    width: 80%;
    height: 500px;
    border-radius: 5px;
  }
  
  .carousel-slide.active {
    background-color: white;

    opacity: 1;
  }
  
  /* Agregado para hacer el carrusel responsive */
  @media (max-width: 768px) {
    .carousel-container {
    background-color: white;
      height: 300px; /* Ajusta la altura según tus necesidades */
    }
  }