    
.global{
    padding: 0;
    margin: 0;
    font-family: "Instrument Serif", serif;
    font-weight: 500;
    font-style: normal;
    min-height: 80vh;
    min-width: 100%;
    position: fixed;
    top: 0vh;
    display: block;
}

.contenedor{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 46, 46, 0.5);
}
@keyframes slideUp {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0vh);
    }
   }

.contenido{
    animation: slideUp 0.7s ease-out forwards;
    width: 30%;
    height: 80vh;
    border: 4px solid #9d8b8b;
    border-radius: 10px;
    background: linear-gradient(#010142, #01012f, #010138, #010154);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido h1{
    height: 25%;
    font-size: 40px;
}

.global .contenedor .contenido form{
    height: 75%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 0% 10%;
    font-size: 25px;
}

.global .contenedor .contenido form label{
    height: 14%;
    padding: 2% 0%;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.global .contenedor .contenido form input, select, input[type="date"], input[type="file"]{
    color: #9d8b8b;
    height: 20px 25px;
    font-size: 15px;
    padding: 5px;
    background: transparent;
    border: 2px solid #9d8b8b;
    box-shadow: 2px 3px 18px rgba(255, 255, 255, 0.37);
    border-radius: 7px;
}


.global .contenedor .contenido form input[type="file"]{
    text-align: center;
    padding: 4px 0px 4px 0px;
}
.global .contenedor .contenido form input[type="date"]{
    padding: 4.5px 4px;
}

.global .contenedor .contenido .botones{
    margin-top: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20%;
}

.global .contenedor .contenido .botones button{
    padding: 1% 3%;
    color: #9d8b8b;
    border: 2px solid #9d8b8b;
    box-shadow: 2px 3px 18px rgba(255, 255, 255, 0.37);
    cursor: pointer;
    background: transparent;
    font-weight: bold;
    font-size: 17px;
    border-radius: 7px;
    transition: background-color 0.5s ease;
}

.global .contenedor .contenido .botones button:hover{
    background-color: #4b4e6b;
}

.text-error-label{
    letter-spacing: 2px;
    font-size: 15px;
}
